/* src/components/Modal/Modal.css */

.model-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .model-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  
  .model-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 1.5rem;
  }
  
  /* 小於或等於 600px 的螢幕 */
@media screen and (max-width: 600px) {
  .process-images-container {
    grid-template-columns: repeat(2, 1fr); /* 改為兩列 */
  }

  .homeHeader h1 {
    font-size: 2em; /* 調小字體大小 */
  }

  /* 其他針對小屏幕的樣式調整 */
}

/* 中型螢幕，例如平板 */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .process-images-container {
    grid-template-columns: repeat(3, 1fr); /* 改為三列 */
  }

  /* 其他針對中型屏幕的樣式調整 */
}

/* 大型螢幕 */
@media screen and (min-width: 1025px) {
  /* 這裡可以放置針對大螢幕的樣式，如果需要 */
}