.process-images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* 如果需要，可以增加一个最大宽度限制 */
}

.process-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0; /* 增加上下间距 */
}

.process-step {
  margin: 0 60px; /* 增加流程步骤之间的水平间距 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-image {
  width: 300px; /* 设置所有图片的固定宽度 */
  height: 200px; /* 设置所有图片的固定高度 */
  object-fit: cover; /* 裁剪并保持纵横比填充容器 */
}

.process-description {
  font-size: 1.2em; /* 增加字体大小 */
}

.arrow {
  margin: 0 30px; /* 增加箭头之间的水平间距 */
}

.arrow img {
  width: 80px; /* 增加箭头大小 */
  height: auto;
}
