.AboutOurSection {
  padding: 50px 0;
  background-color: #e6dfdf; /* 根據您的品牌顏色進行調整 */
}

.AboutOurList {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column; /* 子元素垂直排列 */
  gap: 40px; /* 增加垂直間距 */
}

.AboutOurItem {
  display: flex;
  align-items: center;
  gap: 40px; /* 圖標和文本之間的間距 */
}

.AboutOurItem:nth-child(odd) {
  flex-direction: row; /* 奇數項目，文本在左圖片在右 */
}

.AboutOurItem:nth-child(even) {
  flex-direction: row-reverse; /* 偶數元素反向排列 */
}


/* 根据图标和文本更改顺序 */
.AboutOurGraphic,
.AboutOurInfo {
  flex: 1; /* 確保圖片和文本容器都有相等的可用空間 */
  max-width: 50%; /* 限制最大寬度 */

}

.AboutOurGraphic {
  padding: 0 20px; /* 為圖片容器增加內邊距 */
}

.AboutOurInfo {
  padding: 0 20px; /* 為文本容器增加內邊距 */
  display: flex;
  flex-direction: column; /* 保持文本內容的垂直排列 */
  align-items: flex-start; /* 對齊到容器的開頭 */
}

.AboutOurIcon {
  max-width: 100%; /* 圖標寬度最大為其容器的100% */
  height: auto;
}

.AboutOurInfo h2 {
  font-size: 2em; /* 標題大小 */
  color: #333; /* 標題顏色 */
  margin-bottom: 0.5em;
}

.AboutOurInfo p {
  margin-bottom: 1em; /* 段落與按鈕之間的間距 */
  color: #666; /* 段落文字顏色 */
}

.readMore {
  padding: 10px 20px;
  background-color: #a51140; /* 按鈕背景顏色 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 平滑過渡效果 */
}

.readMore:hover {
  background-color: #c81e4e; /* 鼠標懸停時的顏色變化 */
}

/* 响应式设计 */
@media screen and (max-width: 1024px) {
  .AboutOurItem {
    flex-direction: column; /* 小屏幕上改为垂直排列 */
  }

  .AboutOurIcon {
    order: 0; /* 小屏幕上恢复图标顺序 */
  }
}
