.AboutOurSection {
  padding: 50px 0;
  background-color: #e6dfdf; /* 根據您的品牌顏色進行調整 */
}

.AboutOurList {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column; /* 子元素垂直排列 */
  gap: 40px; /* 增加垂直間距 */
}

.AboutOurItem {
  display: flex;
  align-items: center;
  gap: 90px; /* 圖標和文本之間的間距 */
  margin-top: 80px;
  
}

.process-description {
  white-space: pre-line; /* 保证换行符被渲染 */
}

.AboutOurItem:nth-child(odd) {
  flex-direction: row; /* 奇數項目，文本在左圖片在右 */
}

.AboutOurItem:nth-child(even) {
  flex-direction: row-reverse; /* 偶數元素反向排列 */
}


/* 根据图标和文本更改顺序 */
.AboutOurGraphic,
.AboutOurInfo {
  flex: 1; /* 確保圖片和文本容器都有相等的可用空間 */
  max-width: 50%; /* 限制最大寬度 */

}

.AboutOurGraphic {
  padding: 0 20px; /* 为图片容器增加内边距 */
  display: flex;
  justify-content: center; /* 图标居中显示 */
}

.AboutOurInfo {
  padding: 0 20px; /* 為文本容器增加內邊距 */
  display: flex;
  flex-direction: column; /* 保持文本內容的垂直排列 */
  align-items: flex-start; /* 對齊到容器的開頭 */
}

.AboutOurIcon {
  width: 500px; /* 统一图标宽度，可以根据实际情况调整 */
  height: auto; /* 保持图标的比例 */
  margin-bottom: 20px; /* 图标下方间距 */
}

.first-letter {
  font-size: 2em; /* 第一个字母放大 */
  font-weight: bold; /* 如果需要，可以使其更加粗体 */
}

.AboutOurInfo h2 {
  font-size: 3em; /* 標題大小 */
  color: #333; /* 標題顏色 */
  margin-bottom: 0.5em;
}

.AboutOurInfo ol {
  list-style-type: disc; /* 设置为圆点 */
  padding-left: 40px; /* 增加缩进以便清晰显示圆点 */
}

.AboutOurInfo p,
.AboutOurInfo ol li {
  font-size: 1.5em;
  line-height: 2; /* 增加行距 */
  color: #666; /* 或您選擇的任何顏色 */
}

.readMore {
  padding: 10px 20px;
  background-color: #a51140; /* 按鈕背景顏色 */
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 平滑過渡效果 */
}

.readMore:hover {
  background-color: #c81e4e; /* 鼠標懸停時的顏色變化 */
}

/* 响应式设计调整 */
@media screen and (max-width: 1024px) {
  .AboutOurList {
    gap: 20px; /* 小屏幕上减少间距 */
  }

  .AboutOurItem {
    flex-direction: column; /* 小屏幕上改为垂直排列 */
    gap: 20px; /* 为每个服务项目增加垂直间距 */
  }

  .AboutOurGraphic {
    padding: 0; /* 小屏幕上移除图片容器的内边距 */
  }
  
  .AboutOurIcon {
    width: 100%; /* 小屏幕上图标宽度占满容器宽度 */
    max-width: 200px; /* 设置图标的最大宽度，防止过大 */
    margin-bottom: 10px; /* 图标下方间距 */
  }
}