.AboutOurSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #e6dfdf; /* 根据您的品牌颜色进行调整 */
  }
  
  .AboutOurList {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .AboutOurItem {
    display: flex;
    flex-direction: row; /* 设置为行方向 */
    align-items: center;
    text-align: left; /* 设置文本对齐为左对齐 */
    gap: 200px; /* 图标和文本之间的间隙 */
    max-width: 1200px;
    margin: auto;
  }
  
  .AboutOurGraphic {
  flex-basis: 50%; /* 图表占据50%的空间 */

  }
  
  .AboutOurIcon {
    max-width: 100%; /* 图表宽度最大为其容器的100% */
    height: auto;
  }
  
  .AboutOurInfo h2 {
    font-size: 2em; /* 标题大小 */
    color: #333; /* 标题颜色 */
    margin-bottom: 0.5em;
  }
  
  .AboutOurInfo p {
    margin-bottom: 1em; /* 段落与按钮之间的间距 */
    color: #666; /* 段落文字颜色 */
  }
  
  .readMore {
    padding: 10px 20px;
    background-color: #a51140; /* 按钮背景颜色 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 平滑过渡效果 */
  }
  
  .readMore:hover {
    background-color: #c81e4e; /* 鼠标悬停时的颜色变化 */
  }

  /* 小於或等於 600px 的螢幕 */
@media screen and (max-width: 600px) {
  .process-images-container {
    grid-template-columns: repeat(2, 1fr); /* 改為兩列 */
  }

  .homeHeader h1 {
    font-size: 2em; /* 調小字體大小 */
  }

  /* 其他針對小屏幕的樣式調整 */
}

/* 中型螢幕，例如平板 */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .process-images-container {
    grid-template-columns: repeat(3, 1fr); /* 改為三列 */
  }

  /* 其他針對中型屏幕的樣式調整 */
}

/* 大型螢幕 */
@media screen and (min-width: 1025px) {
  /* 這裡可以放置針對大螢幕的樣式，如果需要 */
}