/* 支援中心的主要樣式 */
.support-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);

}

/* 標題和搜索欄 */
.support-title,
.support-search {
  color: #123456;
  margin-bottom: 40px; /* 增加標題和搜索欄之間的間距 */

}

/* 常見問題 */
.faq-section {
  margin-bottom: 50px; /* 增加常見問題與聯繫我們之間的間距 */
}

/* 常見問題 */
.faq-item {
  cursor: pointer;
  transition: background-color 0.3s ease, max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
  border: 1px solid #123456;
  margin-bottom: 10px; /* 在問題之間增加間距 */
  overflow: hidden; /* 為過渡效果做準備 */
  max-height: 50px; /* 初始最大高度 */
}

.faq-item .faq-question {
  margin: 0;
  padding: 10px 15px;
  background-color: #123456;
  color: #ffffff;
  border: none;
}

.faq-item.active {
  max-height: 200px; /* 活躍狀態的最大高度 */
}

.faq-item.active .faq-question {
  background-color: #0D2A4B; /* 活躍狀態的深藍色 */
}

.faq-item .faq-answer {
  display: none;
  padding: 10px 15px;
  background-color: #f2f2f2; /* 答案背景色 */
  border-top: 1px solid #123456;
}

.faq-item.active .faq-answer {
  display: block;
}

/* 保持原有的聯繫我們樣式不變 */
.contact-section form {
  max-width: 600px;
  margin: 0 auto;
}

.contact-section input,
.contact-section textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-section .submit-button {
  width: 100%;
  padding: 10px 15px;
  border: none;
  background-color: #28a745; /* Fintech風格的綠色 */
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-section .submit-button:hover {
  background-color: #218838; /* 按鈕hover效果 */
}


.submit-button {
  background-color: #123456; /* 按鈕顏色 */
  color: white;
}

.submit-button:hover {
  background-color: #0D2A4B; /* 按鈕懸停顏色 */
}
