/* 全局字體 */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #F9F9F9;
}

/* 標題 */
h2, h3 {
  color: #F9F9F9;
}

/* 段落文字 */
p {
  color: #F9F9F9;
}



.service-title {
  position: relative;
  text-align: left; /* 或 left，根據您的設計需求 */
  background: url('../../pictures/WT/首頁icon/碳權/碳權3.png') no-repeat center center / cover; /* 調整url到您的圖片路徑 */
  background-size: contain; /* 或 contain 根據您想要的效果 */
  color: #F9F9F9; /* 調整文字顏色以符合您的設計 */
  background-color: #1F2B37; /* 非圖片部分的背景色 */
  background-position: right center; /* 將圖片向右側對齊，垂直居中 */
  padding: 120px 0; /* 根據需要增加內邊距 */
  padding-top: 100px; /* 添加上邊距以向下調整文字位置 */
  padding-left: 10%; /* 添加左邊距以從左側調整文字位置 */
  overflow: hidden; /* 隱藏斜切後的溢出部分 */
  height: 450px; /* 根據需要調整高度 */
  margin: 0 0 0.5em 0; /* 根據需要調整邊距 */
  
}

/* h2 標題的樣式 */
.service-title h2 {
  font-size: 3em; /* 更大的標題字體大小 */
  font-weight: bold; /* 標題文字加粗 */
  color: #77F2A1; /* 文字顏色，您可以根據您的配色方案進行更改 */
}

.service-title p {
  font-size: 1.5em; /* 調整大小 */
  margin-bottom: 2em; /* 按鈕前的空間 */
  max-width: 600px; /* 段落的最大寬度 */
  line-height: 1.4; /* 調整行高以提高可讀性 */
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  background-color: #F9F9F9; /* 非圖片部分的背景色 */

}

.service-item {
  background-color: #F9F9F9;
  color: #1F2B37;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  width: 300px;
  margin: 10px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.service-item img{
  transition: transform 0.3s ease-in-out;
}

.service-item:hover img {
  transform: scale(1.05); /* 懸停時放大圖片 */
}

.service-icon {
  width: 100px; /* 或您圖標的大小 */
  height: 100px; /* 保持長寬比 */
  margin-bottom: 20px;
}

.service-item h3 {
  color: #000000; /* 替換為您標題的實際顏色 */
  margin-bottom: 10px;
}

.service-item p {
  color: #555555; /* 替換為您描述的實際顏色 */
  font-size: 14px; /* 或期望的大小 */
}

.service-item:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.7); /* 增加陰影 */
  transform: translateY(-5px); /* 輕微向上移動 */
}


.middleText {
  display: flex; /* 使用 Flexbox */
  flex-direction: column; /* 子元素垂直排列 */
  align-items: center; /* 子元素水平居中 */
  justify-content: center; /* 子元素垂直居中 */
  text-align: center; /* 文字對齊居中 */
  margin: 50px 0; /* 上下邊距，根據需要進行調整 */
}

.middleText h1, 
.middleText p {
  color: #555555; /* 文本顏色，視您的需求而定 */
  margin: 0; /* 移除邊距 */
}

.middleText h1 {
  font-size: 2em; /* 調整標題的大小，視您的需求而定 */
  margin-bottom: 0.5em; /* 標題下方的間隙 */
}

.middleText p {
  font-size: 1em; /* 段落文字的大小，視您的需求而定 */
  max-width: 600px; /* 段落最大寬度，確保在大螢幕上也能保持可讀性 */
  margin-bottom: 1em; /* 段落之間的間隙 */
}

/* 您可能需要根據您的品牌指南調整字體大小、顏色和其他樣式。 */

/* 按钮容器样式 */
.buttons-container {
  text-align: center; /* 使内部元素居中 */
  padding: 20px; /* 按需调整，为容器添加内边距 */
}

.button-link button {
  background: none; /* 移除背景色 */
  border: 2px solid #4F76F6; /* 添加蓝色边框 */
  border-radius: 5px; /* 边框圆角 */
  color: #4F76F6; /* 文字颜色 */
  padding: 10px 20px; /* 内边距 */
  font-size: 1rem; /* 字体大小 */
  cursor: pointer; /* 鼠标悬停时的指针样式 */
  outline: none; /* 移除焦点时的轮廓 */
  box-shadow: none; /* 移除阴影 */
  text-align: center; /* 文字居中 */
  text-decoration: none; /* 移除下划线 */
  display: inline-block; /* 行内块显示 */
  transition: all 0.3s ease; /* 平滑过渡效果 */
}

.button-link button:hover {
  background-color: #4F76F6; /* 悬停时的背景颜色 */
  color: #F9F9F9; /* 悬停时的文字颜色 */
}

/* 修正链接默认样式 */
.button-link {
  margin: 0 40px; /* 两侧的间距，确保按钮之间有空隙 */
  display: inline-block; /* 将链接作为行内块元素显示 */
  text-decoration: none; /* 移除文本下划线 */}