/* HomePage.css */
.homePage {
  font-family: 'Arial', sans-serif;
  background-color: #fffbf7; /* Updated background color */
  color: #fff8f8; /* Light text for contrast */
  
}

.homeHeader {
  position: relative;
  text-align: left;
  padding-top: 100px;
  padding-left: 10%;
  color: #F9F9F9;
  background-color: #1F2B37; /* 如果有背景图片，这个背景色可能就不必要了 */
  height: 100vh;
  overflow: hidden;
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
}

.bannerImg {
  position: absolute; /* 絕對定位，相對於 homeHeader */
  top: 55%; /* 將圖片垂直居中 */
  left: 50%; /* 將圖片水平居中 */
  transform: translate(-50%, -50%); /* 使用 transform 對圖片進行正確的偏移 */
  max-width: 300%; /* 最大寬度為容器寬度 */
  max-height: 300%; /* 最大高度為容器高度 */
  width: 100%; /* 確保圖像寬度佔滿容器 */
  height: 120vh; /* 確保圖像高度至少與視窗高度一致 */
  object-fit: cover; /* 確保圖像覆蓋整個容器而不失真 */
  animation: fadeIn 2s ease-out; /* 添加动画效果 */
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.homeHeader:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


.homeHeader h1 {
  position: absolute; /* 绝对定位 */
  font-size: 45pt;
  font-weight: bold;
  top: 50%; /* 调整为背景图片中White Tree Capital的具体位置 */
  left: 50%; /* 调整为背景图片中White Tree Capital的具体位置 */
  transform: translate(-50%, 70%); /* 通过偏移量确保精准定位 */
  color: #1a4153; /* 文字顏色，您可以根據您的配色方案進行更改 */
}

.homeHeader p {
  font-size: 1.5em; /* 調整大小 */
  margin-bottom: 2em; /* 按鈕前的空間 */
  max-width: 600px; /* 段落的最大寬度 */
  line-height: 1.4; /* 調整行高以提高可讀性 */
}

/* 添加pseudo-element的樣式來顯示圖片 (在css設計圖片在文字左右邊*/ 
.middleText h1::before,
.middleText h1::after {
  content: '';
  display: inline-block;
  width: 2.5em; /* 調整成適當的大小 */
  height: 4em; /* 調整成適當的大小 */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  vertical-align: middle; /* 垂直居中對齊 */
  opacity: 1; /* 圖片完全不透明 */
}

.middleText h1::before {
  background-image: url('../../pictures/WT/首頁icon/About\ us的頁面左.png'); /* 替換成左側圖片的路徑 */
  animation-name: floatInLeft;
  margin-right: 2em; /* 在圖片和文字之間增加一些空間 */
}

.middleText h1::after {
  background-image: url('../../pictures/WT/首頁icon/About\ us的頁面右.png'); /* 替換成右側圖片的路徑 */
  animation-name: floatInRight;
  margin-left: 2em; /* 在圖片和文字之間增加一些空間 */
}


/* 新增中間文字部分的樣式 */
.middleText {
  text-align: center; /* 文字置中 */
  font-size: 1.2em; /* 適當的字體大小 */
  color: #000000; /* 文字顏色 */
  padding: 20px 0; /* 上下內距 */
  background-color: #fffdfa; /* 背景顏色 */
  height: 350px; /* 根據需要調整高度 */
  overflow: hidden; /* 隱藏斜切後的溢出部分 */
}

.middleText h1 {
  font-weight: bold;
  font-size: 2.5em !important; /* 更大的標題字體大小 */
  margin: 0 0 0.5em 0; /* 根據需要調整邊距 */
  color: #000000; /* 文字顏色，您可以根據您的配色方案進行更改 */
}

.middleText p {
  text-align: center; /* 文字置中 */
  font-size: 1.4em !important; /* 調整大小 */
  margin-bottom: 2em; /* 按鈕前的空間 */
  max-width: 600px; /* 段落的最大寬度 */
  line-height: 1.4; /* 調整行高以提高可讀性 */
}


/* 響應式設計調整 */
@media screen and (max-width: 600px) {
  .homeHeader {
    text-align: center; /* 小屏幕中央對齊 */
    padding-left: 0; /* 小屏幕移除左邊距 */
  }

  .homeHeader h1, .homeHeader p {
    text-align: center; /* 小屏幕文字中央對齊 */
  }

  .homeHeader::before {
    transform: skewX(-10deg); /* 小屏幕使用較小的斜切角度 */
  }
}



/* Remove unused media query styles related to .process-images-container if not needed */

/* Remove commented out styles and ensure CSS is clean and specific to current needs */
