/* HomePage.css */
.homePage {
  font-family: 'Arial', sans-serif;
  background-color: #fffbf7; /* Updated background color */
  color: #fff8f8; /* Light text for contrast */
}

.homeHeader {
  position: relative;
  text-align: left; /* 將文字對齊至左側，類似於第二張圖片 */
  padding-top: 100px; /* 添加上邊距以向下調整文字位置 */
  padding-left: 10%; /* 添加左邊距以從左側調整文字位置 */
  color: #F9F9F9; /* 調整文字顏色以符合您的設計 */
  background-color: #1F2B37; /* 非圖片部分的背景色 */
  height: 450px; /* 根據需要調整高度 */
  overflow: hidden; /* 隱藏斜切後的溢出部分 */
}


.homeHeader h1 {
  font-size: 3em; /* 更大的標題字體大小 */
  font-weight: bold; /* 標題文字加粗 */
  margin: 0 0 0.5em 0; /* 根據需要調整邊距 */
  color: #77F2A1; /* 文字顏色，您可以根據您的配色方案進行更改 */
}

.homeHeader p {
  font-size: 1.5em; /* 調整大小 */
  margin-bottom: 2em; /* 按鈕前的空間 */
  max-width: 600px; /* 段落的最大寬度 */
  line-height: 1.4; /* 調整行高以提高可讀性 */
}

/* 新增中間文字部分的樣式 */
.middleText {
  text-align: center; /* 文字置中 */
  font-size: 1.2em; /* 適當的字體大小 */
  color: #000000; /* 文字顏色 */
  padding: 20px 0; /* 上下內距 */
  background-color: #fffdfa; /* 背景顏色 */
  height: 350px; /* 根據需要調整高度 */
  overflow: hidden; /* 隱藏斜切後的溢出部分 */
}

.middleText h1 {
  font-size: 3em; /* 更大的標題字體大小 */
  margin: 0 0 0.5em 0; /* 根據需要調整邊距 */
  color: #000000; /* 文字顏色，您可以根據您的配色方案進行更改 */
}

.middleText p {
  text-align: center; /* 文字置中 */
  font-size: 1.5em; /* 調整大小 */
  margin-bottom: 2em; /* 按鈕前的空間 */
  max-width: 600px; /* 段落的最大寬度 */
  line-height: 1.4; /* 調整行高以提高可讀性 */
}


/* 響應式設計調整 */
@media screen and (max-width: 600px) {
  .homeHeader {
    text-align: center; /* 小屏幕中央對齊 */
    padding-left: 0; /* 小屏幕移除左邊距 */
  }

  .homeHeader h1, .homeHeader p {
    text-align: center; /* 小屏幕文字中央對齊 */
  }

  .homeHeader::before {
    transform: skewX(-10deg); /* 小屏幕使用較小的斜切角度 */
  }
}

/* Remove unused media query styles related to .process-images-container if not needed */

/* Remove commented out styles and ensure CSS is clean and specific to current needs */
