
.process-images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  /* 如果需要，可以增加一个最大宽度限制 */
}

.process-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.process-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px; /* 設定適當的邊距 */
  border: 1px solid #ccc; /* 設定邊框顏色 */
  padding: 20px;
  width: 300px; /* 或者根據您的設計需求設定適當的寬度 */
}

.process-step-title {
  font-size: 2em;
  margin: 10px 0; /* 添加適當的間距 */
}

.process-image {
  width: 100px; /* 设置所有图片的固定宽度*/
  height: 100px; /* 设置所有图片的固定高度*/
  margin-bottom: 20px; /* 圖標和文字之間的距離 */
  border: 1px solid #ccc; /* 如果需要圖標邊框 */
  /* border-radius: 60%; 如果圖標是圓形的 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.process-description {
  font-size: 1em;
  color: #666; /* 適當的文字顏色 */
}

.process-description-list {
  padding: 0;
  list-style-position: inside; /* 或使用 'outside' 依據您的設計需求 */
}

.process-description-item {
  margin-bottom: 10px; /* 或根據您的設計需求調整 */
  text-align: left; /* 確保文字對齊方式 */
  list-style-type: decimal; /* 用於有序列表項目的數字 */
}


/* 添加圓點樣式 */
.list-item {
  list-style-type: disc;
  list-style-position: inside;
  text-align: left; /* 如果您希望列表項目靠左對齊 */
}

.arrow {
  margin: 0 30px; /* 增加箭头之间的水平间距 */
}

.arrow img {
  width: 80px; /* 增加箭头大小 */
  height: auto;
}
