.image-slider {
  /* 您可能需要添加您的自定义樣式 */
  position: relative;
  /* 只保留一个overflow属性，视您的具体需求而定 */
  /* overflow: hidden; 如果你希望圆点和按钮可见，这可能需要进一步的调整 */
}

/* 更新幻燈片樣式以應用透明度 */
.slick-slide {
  opacity: 1; /* 默认非中心幻灯片的透明度 */
  transition: opacity 0.5s ease; /* 平滑过渡效果 */}

.slick-center .slick-slide {
  opacity: 1; /* 中心幻灯片不透明 */
}

.slick-slide:not(.slick-center) {
  opacity: 0.4; /* 非中心幻燈片透明度降低 */
}

.image-slider__slider-slide {
  position: relative;
  overflow: hidden; /* 新增：只裁減圖片 */
  height: 400px /* 新增：確保slide的高度與slider一致 */

}

.lazyload {
  width: 100%;
  height: 100%; /* 更新：設為100%以填滿容器 */
  object-fit: cover; /* 新增：保持圖片比例並填滿容器 */
  opacity: 1; /* 根据需要调整透明度 */
}

.image-slider__slider-slide-content {
  position: absolute;
  bottom: 20px; /* 定位到滑块的左下角 */
  left: 20px; /* 定位到滑块的左下角 */
  transform: translate(0%, 0%); /* 校正transform属性 */
  text-align: left; /* 如果您希望文本左对齐 */

  /* 添加背景色以提高可讀性，使用半透明背景以不完全覆蓋背景圖片 */
  background: rgba(0, 0, 0, 0.5); /* 深色半透明背景 */
  padding: 20px; /* 添加一些內邊距 */
  border-radius: 8px; /* 如果您喜歡圓角的話 */
  max-width: 300px; /* 或更大，根據需要設置最大寬度 */

}

.image-slider__slider-slide-content h4 {
  color: #fff; /* 白色文字提高對比度 */
  font-size: 24px; /* 增加字體大小提高可讀性 */
  margin-bottom: 10px; /* 添加一些底部邊距 */
}

.image-slider__slider-slide-content-text {
  color: #fff; /* 白色文字提高對比度 */
  font-size: 18px; /* 適中的文字大小 */
  line-height: 1.6; /* 增加行高以改善閱讀體驗 */
}

.button--primary-spring {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

/* 修正媒体查询以适应小屏幕 */
@media (max-width: 768px) {
  .image-slider {
    /* 可能需要调整滑块的高度以适应内容 */
  }
  .button--primary-spring {
    /* 调整按钮的位置，如果在小屏幕上需要不同的定位 */
  }
}